body {
  background-color: #fcd7ed;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: black;
  color: white;
  text-align: left;
}

.square-button {
  display: inline-block;
  background: none;
  border: none;
  height: 100px;
  padding: 0;
  margin: 0;
  vertical-align: top;
  width: 100px;
}

.square-button:hover {
  background-color: lightgray; 
}

#folder, #audio, #notepad {
  background-size: 80px, 80px;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 100px;
}
#folder {
  background-image: url('https://github.com/amyf211/my-website/blob/main/my-website/src/assets/folder.png?raw=true');
}
#audio {
  background-image: url('https://github.com/amyf211/my-website/blob/main/my-website/src/assets/audio.png?raw=true');
}
#notepad {
  background-image: url('https://github.com/amyf211/my-website/blob/main/my-website/src/assets/notepad.png?raw=true');
}
.rectangle-button {
  background-color: black;
  color: white;
  font-family: 'SF Pixelate', sans-serif;
  border-color: lightgray;
  height: 30px;
  padding: 0;
  margin: 0;
  width: 100px;
}