body {
  background-color: #fcd7ed;
  color: black;
  font-family: 'DePixel', sans-serif;
  font-size: small; 
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: black;
  color: white;
}

.square-button {
  display: inline-block;
  background: none;
  border: none;
  height: 80px;
  padding: 0;
  margin: 0;
  vertical-align: top;
  width: 80px;
}

.square-button:hover {
  background-color: lightgray; 
}

#folder, #audio, #notepad, #internet {
  background-size: 70px, 70px;
  background-repeat: no-repeat;
  background-position: center;
}

#folder {
  background-image: url('https://github.com/amyf211/my-website/blob/main/my-website/src/assets/folder.png?raw=true');
}
#audio {
  background-image: url('https://github.com/amyf211/my-website/blob/main/my-website/src/assets/audio.png?raw=true');
}
#notepad {
  background-image: url('https://github.com/amyf211/my-website/blob/main/my-website/src/assets/notepad.png?raw=true');
}
#internet {
  background-image: url('https://github.com/amyf211/my-website/blob/main/my-website/src/assets/internet.png?raw=true');
}
.rectangle-button {
  background-color: black;
  color: lightgray;
  font-family: 'DePixel', sans-serif;                                       
  border-color: white;
  height: 30px;
  padding: 0;
  margin: 0;
  width: 100px;
  float: left;
}

#time {
  padding: 0px;
  margin: 0px;
  color: white;
  float: right;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  align-items: center;
}

p{
  padding: 0px;
  margin-bottom: 5px;
  margin-top: 0px;
}

.popup {
height: 400px;
width: 500px;
background-color: white;
border: solid black;
margin: auto;
}

.header {
  height: 20px;
  width: 100%;
  background-color: black;
  }

.close-button {
  height: 20px;
  width: 20px;
  background-color: black;
  color: lightgray;
  font-family: 'DePixel', sans-serif;                                       
  border-color: white;
  float: right;
  justify-content: center;
  }